name: test

on: [push, pull_request]

env:
  DOCKER_ENV_FILE: '/home/dafoamuser/dafoam/loadDAFoam.sh'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Integration Tests
    steps:
    - uses: actions/checkout@v4

    - name: Pull base Docker image
      run: docker pull dafoam/opt-packages:latest

    - name: Build Docker image
      run: docker build -t dafoam_mcp_server .

    - name: Create container and run tests
      run: |
        docker run -i -d -u dafoamuser --name test_container -v $GITHUB_WORKSPACE:/home/dafoamuser/repo dafoam_mcp_server /bin/bash
        docker exec -i test_container /bin/bash -c "mkdir -p /home/dafoamuser/mount && cp -r /home/dafoamuser/repo/* /home/dafoamuser/mount/"
        docker exec -i test_container /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd /home/dafoamuser/mount/tests && python integration_tests.py"
