name: Test DAFoam MCP Server

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKER_ENV_FILE: '/home/dafoamuser/dafoam/loadDAFoam.sh'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Integration Tests
    steps:
    - uses: actions/checkout@v4

    - name: Pull base Docker image
      run: docker pull dafoam/opt-packages:mcp

    - name: Build Docker image
      run: docker build -t dafoam_mcp_server .

    - name: Create container and run tests
      run: |
        docker run -i -d -u dafoamuser --name test_container -v $GITHUB_WORKSPACE:/home/dafoamuser/repo dafoam_mcp_server /bin/bash
        echo "=== Permissions of /home/dafoamuser/repo ==="
        docker exec -i test_container /bin/bash -c "ls -la /home/dafoamuser/repo"
        echo "=== Permissions of /home/dafoamuser/repo/airfoils ==="
        docker exec -i test_container /bin/bash -c "ls -la /home/dafoamuser/repo/airfoils"
        echo "=== Creating /home/dafoamuser/mount and copying files ==="
        docker exec -i test_container /bin/bash -c "mkdir -p /home/dafoamuser/mount && cp -r /home/dafoamuser/repo/* /home/dafoamuser/mount/"
        echo "=== Permissions of /home/dafoamuser/mount ==="
        docker exec -i test_container /bin/bash -c "ls -la /home/dafoamuser/mount"
        echo "=== Permissions of /home/dafoamuser/mount/airfoils ==="
        docker exec -i test_container /bin/bash -c "ls -la /home/dafoamuser/mount/airfoils"
        echo "=== Running tests ==="
        docker exec -i test_container /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd /home/dafoamuser/mount && python tests/integration_tests.py"
