name: Test DAFoam MCP Server

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKER_ENV_FILE: '/home/dafoamuser/dafoam/loadDAFoam.sh'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Integration Tests
    steps:
    - uses: actions/checkout@v4

    - name: Pull base Docker image
      run: docker pull dafoam/opt-packages:mcp

    - name: Build Docker image
      run: docker build -t dafoam_mcp_server .

    - name: Create container and run tests
      run: |
        docker run -i -d -u dafoamuser --name test_container -v $GITHUB_WORKSPACE:/home/dafoamuser/mount dafoam_mcp_server /bin/bash
        docker exec -i test_container /bin/bash -c "chmod -R 777 /home/dafoamuser/mount/airfoils /home/dafoamuser/mount/wings"
        docker exec -i test_container /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd /home/dafoamuser/mount && python tests/integration_tests.py"
